<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reja</title>
    <link rel="stylesheet" href="CSS/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header class="text-center">
        <div class="container">
            <h1 class="fs-4 py-1">Reja va Maqsadlar</h1>
            <div class="jumbotron p-3 shadow-sm rounded mt-4">
                <form id="create-form" action="/create-item" method="post">
                    <div class="d-flex align-items-center gap-2 p-3 rounded">
                        <input type="text" name="reja" class="form-control mr-3" autofocus id="input-field">
                        <button class="btn btn-outline-success  rounded-pill ps-5 pe-5">Add</button>
                    </div>
                </form>
            </div>
            <ul class="item-list list-group pt-5" id="item-list">
                <% items.map((item) => { %>
                    <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
                        <span class="item-text"><%= item.reja %></span>
                        <div>
                            <button data-id="<%= item._id %>" class="edit-me btn btn-secondary btn-sm mr-1">Change</button>
                            <button data-id="<%= item._id %>" class="delete-me btn btn-danger btn-sm">Delete</button>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <button class="delete-all btn btn-danger mt-5">Delete All</button>
            
        </div>
    </header>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/browser.js"></script>
</body>
</html>